<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="edu.fudan.se.crowdservice"
          android:versionCode="1"
          android:versionName="1.0">
    <uses-sdk android:minSdkVersion="14"/>

    <!--IO Permission-->
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <!--Camera Permission-->
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-feature android:name="android.hardware.camera"/>
    <uses-feature android:name="android.hardware.camera.autofocus"/>

    <!-- Locating Permission -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.CHANGE_CONFIGURATION"/>

    <application android:hardwareAccelerated="false"
                 android:theme="@style/CustomActionBarTheme"
                 android:icon="@drawable/ic_launcher"
                 android:label="@string/app_name">
        <meta-data
                android:name="com.amap.api.v2.apikey"
                android:value="918a29c9b410022958bb4c013403467e"/>

        <service android:name="jade.android.MicroRuntimeService"/>
        <service android:name=".jade.JADEService"/>
        <service android:name=".felix.FelixService"/>

        <activity android:name=".activity.MainActivity"
                  android:windowSoftInputMode="adjustPan"
                  android:label="@string/app_name"/>
        <activity android:name=".core.AdapterActivity"/>
        <activity android:name=".activity.LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".activity.TaskSubmitActivity"/>
    </application>
</manifest>
